
.container {
  display: block;
  margin: 15%;
  background-color: lightgray;
}
person >:nth-child(even) {
  background-color: lightyellow;
}

person >:nth-child(odd) {
  background-color: lightblue;
}

.clicked {
  border: 2px dotted pink;
}

:focus {
  background-color: hotpink;
}