
.container {
  display: block;
  margin: 15%;
  background-color: lightgray;
}
person >:nth-child(even) {
  background-color: lightyellow;
}

person >:nth-child(odd) {
  background-color: lightblue;
}